body {
    margin: 0;
}
.big-container {
    display: flex;
    width: 960px;
    flex-direction: column;
}

.small-container {
    display: flex;
}

.square {
    background-color: pink;
    border: white 1px solid;
    margin: 0;
    height: 0;
}