body {
    margin: 0;
}
.big-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.small-container {
    display: flex;
}

.square {
    background-color: pink;
    border: white 1px solid;
    margin: 0;
    width: 6.25%;
    padding-bottom: 6.25%;
    height: 0;
}